Source: eos-hack-extension
Section: gnome
Priority: optional
Maintainer: Daniel Garcia Moreno <daniel@endlessm.com>
Uploaders: Daniel Garcia Moreno <daniel@endlessm.com>
Build-Depends:
 libglib2.0-bin (>= 2.62),
 sassc (>= 3.5.0),
 debhelper-compat (= 12),
 meson (>= 0.40.0)
Standards-Version: 4.4.0
Homepage: https://github.com/danigm/eos-hack-extension
Vcs-Browser: https://github.com/danigm/eos-hack-extension
Vcs-Git: https://github.com/hack/eos-hack-extension.git

Package: eos-hack-extension
Architecture: all
Depends:
 gnome-shell (>= 41),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Endless OS Hack extension for GNOME Shell
